<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <title>Employment Verification Letter</title>
      <meta name="author" content="eForms"/>
      <style type="text/css"> * {margin:0; padding:0; text-indent:0; }
         h1 { color: #242424; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 16pt; }
         .p, p { color: #242424; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin:0pt; }
         .s1 { color: #242424; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
         h2 { color: #242424; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
         .s2 { color: #242424; font-family:"Segoe UI Symbol", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
         li {display: block; }
         #l1 {padding-left: 0pt; }
         #l1> li>*:first-child:before {content: " "; color: #242424; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
      </style>
   </head>
   <body>
      <h1 style="padding-top: 3pt;padding-left: 89pt;text-indent: 0pt;text-align: center;"><a name="bookmark0">EMPLOYMENT VERIFICATION LETTER</a></h1>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-top: 4pt;padding-left: 125pt;text-indent: 0pt;text-align: left;">,  20<u> &nbsp; </u></p>
      <p style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <h2 style="padding-top: 11pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">RE: Employment Verification</h2>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">To whom it may concern:</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Please accept this letter as confirmation that <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>has and is employed with us under the following details:</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <ul id="l1">
         <li data-list-text="">
            <p class="s1" style="padding-left: 59pt;text-indent: -18pt;text-align: left;">Title<span class="p">:         </span>&nbsp;</p>
         </li>
         <li data-list-text="">
            <p style="padding-left: 59pt;text-indent: -18pt;text-align: left;"><u>Type</u>: <span class="s2">☐ </span>Full-Time <span class="s2">☐ </span>Part-Time basis of <u>&nbsp;</u>hours per week</p>
         </li>
         <li data-list-text="">
            <p style="padding-left: 59pt;text-indent: -18pt;text-align: left;"><u>Pay</u>: $<u> </u><span class="s2">☐ </span>per Hour <span class="s2">☐ </span>Salary (annual)</p>
         </li>
         <li data-list-text="">
            <p class="s1" style="padding-top: 1pt;padding-left: 59pt;text-indent: -18pt;text-align: left;">
				Additional &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Terms<span class="p">:  </span>&nbsp;</p>
         </li>
      </ul>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">If you have any questions or require further information, please don’t hesitate to contact me at <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </u>.</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">Sincerely,</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 4pt;text-indent: 0pt;line-height: 1pt;text-align: left;"/>
      <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
		  Print Name: {{document_data.name}}</br>
		  Title:
	</p>
      <p style="text-indent: 0pt;text-align: left;"><br/></p>
      <p style="padding-left: 8pt;text-indent: 0pt;text-align: left;">
         <span>
            <a href="https://eforms.com/">
   </body>
</html>